@tailwind base;
@tailwind components;
@tailwind utilities;


.a-boton{
    @apply border-t-2 p-4 border-blue-700 h-16  bg-blue-900 text-white;
}
.a-boton:hover {
    @apply  bg-blue-600 text-white cursor-pointer;
}

.b-boton:hover {
    @apply  bg-purple-800 text-white cursor-pointer;
}

.b-boton01:hover {
    @apply  bg-blue-600 text-white cursor-pointer;
}

.b-botoneliminar:hover {
    @apply  bg-red-500 text-white cursor-pointer;
}

.b-botonad:hover {
    @apply  bg-gray-200	 cursor-pointer;
}

.img{
    top: 20px;
    left: calc(80% - 50px);

}

.btn:hover{
    @apply bg-blue-300;
    
}

.a-a{
    @apply  bg-blue-200 text-white cursor-pointer;
}


.imgp{
    top: 125px;
    left: calc(90% - 45px);

}

.imgp2{
    top: 70px;
    left: calc(97% - 40px);

}


.buscador{
   
    outline: none;
}


.btnedit{

    @apply px-4 py-1 bg-blue-500 text-white rounded-md hover:bg-indigo-500 duration-100;
}

.btnedelete{

    @apply px-4 py-1 bg-red-900 text-white rounded-md hover:bg-red-400 duration-100;
}


.thtabla{
    @apply border px-4 py-2;
}


.btnselect{
    @apply bg-blue-400 h-10 p-2 w-60 text-center text-white b-boton01 rounded-md;
}


.b-boton02:hover {
    @apply  bg-red-600 text-white cursor-pointer;
}

.btneliminar{

    @apply bg-red-800 h-10 p-2 w-60 text-center text-white b-boton02 rounded-md;
}

.imgp3{
    top: 200px;
    left: calc(93% - 40px);

}
